
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  line-height: 1.6;
  background: #fff;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.navBar {
  background: transparent;
  padding: 20px 0;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.navBar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a{
  font-weight: bold;
  font-size:x-large;
  text-decoration: none;
  color: white;
}

.navLinks a {
  color: white;
  margin-left: 25px;
  gap: 8px;
  text-decoration: none;
  font-weight: 500;
}

.navLinks a:hover {
  border: 1px solid white;
  width: auto;
  padding: 6px;
  border-radius: 15px;
}


.aBanner {
  height: 100vh;
  background: url('../Assignment 3/img/Banner.jpg') no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.banContent {
  color: white;
  text-align: center;
}

.banContent h1 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 20px;
}

.banContent p {
  max-width: 700px;
  margin: auto;
  margin-bottom: 30px;
  color: #ddd;
}

.btnPurple {
  background: #6C00FF;
  border: none;
  padding: 16px 32px;
  width: 192px;
  align-items: center;
  border-radius: 25px;
  cursor: pointer;
}

.btnPurple a{
  background: #6C00FF;
  color: white;
  border: none;
  font-size: 16px;
}

/* Services */
.services {
  padding: 100px 0;
  text-align: center;
}

.secSubtitle {
  color: #a855f7;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.secTitle {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 40px;
}

.serviceItems {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}

.serVice {
  flex: 1;
  min-width: 300px;
  padding: 20px;
}

.icon {
  font-size: 40px;
  color: #a855f7;
  margin-bottom: 15px;
}


.features {
  padding: 80px 0;
}

.featureBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
  gap: 30px;
  flex-wrap: wrap;
}

.featureBlock .reverse {
  flex-direction: row-reverse;
}

/* .firstImage{
  position: relative;
  width: 475px;
  height: 400px;
}

.imageWrapper{
  position: absolute;
  
}


.firstFeature{
  display: flex;
}


.firstFeatureImage{
  width: 475px;
  height: 400px;
  position: relative;
}

.firstFeatureImage .imageWrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  z-index: 0;
  background-color: #6C00FF;
  transform: translate(32px, 32px);
}
.firstFeatureImage img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
 */

.featureBlock img {
  height: 400px;
  width: 475px;
  position: relative;
  transform: translate(32px, 32px);
  box-shadow: 0 0 0 10px #a855f7;
}

.featureBlock .text {
  flex: 1;
  min-width: 300px;
}

.featureBlock .text h4 {
  color: #a855f7;
  font-weight: bold;
  margin-bottom: 10px;
}

.ffeatureBlock .text h2 {
  font-size: 1.8rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.featureBlock .text p {
  margin-bottom: 20px;
}

.featureBlock .text ul {
  list-style: none;
}

.featureBlock .text ul li {
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
}

.featureBlock .text ul li::before {
  content: '✔';
  color: #a855f7;
  position: absolute;
  left: 0;
}

.footer {
  background-color: white;
  padding: 30px 30px;
  text-align: center;
  color: #333;
  border-top: 1px solid #ddd;
}

.footerLogo {
  font-size: 2rem;
  font-weight: bold;
  color: #a855f7;
  margin-bottom: 20px;
}

.footerNav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 20px;
}

.footerNav a {
  color: #333;
  text-decoration: none;
  font-weight: 500;
}

.footerCopy {
  font-size: 14px;
  color: #777;
}

