@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");

* {
  font-family: "Heebo", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
  color: #000000;
}

header{
  padding:30px;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.con{
  display: flex;
  justify-content: space-between;
  gap:300px;
}

.navLeft a{
  font-weight: bold;
  font-size:x-large;
  text-decoration: none;
  color: #000000;
  margin-right: 20px;
}
.navRight a {
  font-weight: bold;
  width: 57px;
  text-decoration: none;
  color: #000000;
  margin-right: 20px;
}

/* .navRight a:last-child {
  margin-right: 0;
} */

.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.introText{
  width: 506px;
}

.introText h1 {
  font-size: 44px;
  margin-bottom: 30px;
  line-height: 60px;
}

.introText p {
  margin-bottom: 30px;
  columns: #21243D;
  line-height: 1.5;
}

.btn {
  background-color: #ff6464;
  color: white;
  width: 167px;
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
  border: #000000;
  border-radius: 2px;
  margin-bottom: 30px;
}

.introImg img {
  width: 243px;
  height: 243px;
  border-radius: 50%;
  object-fit: cover;
}

.recentPosts {
  background-color: #edf7fa;
  padding: 30px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 30px;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  color: #EDF7FA;
  text-decoration: none;
  margin-bottom: 30px;
}

.sectionHeader h2 {
  font-size: 24px;
  color: #000000;
}

.viewAll {
  color: #00a8cc;
  text-decoration: none;
}

.posts {
  display: flex;
  gap: 20px;
}

.post {
  width: 50%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.post h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.post .meta {
  font-size: 14px;
  color: gray;
  margin-bottom: 10px;
}

.featuredWorks h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.work {
  display: flex;
  gap: 20px;
  line-height: 1.5;
  margin-bottom: 30px;
  
}

.borLine{
  margin-bottom: 30px;
  border-bottom: 1px solid #E0E0E0; 

}

.work img {
  width: 246px;
  height: 180px;
  border-radius: 5px;
  object-fit: cover;
}

.workText a{
  /* flex: 1; */
  font-size: 16px;
  margin-bottom: 30px;
}

.workText h3 a{
  margin-bottom: 5px;
  font-size: 30px;
  text-decoration: none;
  color: #21243D;
}

.badge {
  background-color: black;
  color: white;
  padding: 3px 10px;
  border-radius: 16px;
  font-size: 18px;
  margin-right: 10px;
}

.category {
  color: gray;
  font-size: 20px;
}

footer {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  color:#21243D;
}

.social a img {
  width: 24px;
  margin: 10px 10px;
}
