@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #0f172a;
  color: white;
}
.brandName a {
  color: white;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.headerSec {
  background-color: #0f172a;
  padding: 20px 0;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navLinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navLinks a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.navSub{
    padding-left: 200px;
}

.btnPrimary {
  background-color: #23A6F0;
  color: white;
  border-radius: 25px;
  text-decoration: none;
  padding: 15px 36px;
}

.btnSecondary {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  margin-left: 10px;
  border-radius: 25px;
  text-decoration: none;
  padding: 15px 36px;
}

.btnRegister{
  background-color: #23A6F0;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  padding: 15px 25px;
}

.banMain{
  padding: 112px 0px;
}

.bannerSection {
  padding: 100px 0;
  text-align: left;
  width: 100%;
  height: 100vh;
  background: /*linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(14, 8, 22, 0.2)),  */  url("../img/background.jpg") no-repeat center center/cover;
  margin-top: -120px;

}

.bannerContent h1 {
  font-size: 58px;
  line-height: 80px;
  font-weight: bold;
  margin-bottom: 35px;
}

.bannerContent p {
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 35px;
}

.bannerButtons {
  display: flex;
  gap: 10px;  
}

.bannerButtons a{
  color: #FFFFFF;
  font-weight: 800;
  text-decoration: none;
}

.featuresSection {
  background-color: #111827;
  padding: 60px 0;
}

.featuresContainer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 40px 50px;
  
}

.featureBox {margin-bottom: 35px;
  width: 329px;
}
.featureBox h5{
    font-size: 16px;
    line-height: 2.5;
}

.featureBox p{
    font-size: 14px;
}

.featureBox img{
    width: 72px;
    height: 59px;
}

.teamLead {
  padding: 112px 0;
  background-color: #8EC2F2;
  text-align: center;
}

.projectSection {
  padding: 112px 0;
  background-color: #252B42;
  text-align: center;
}

.secTitle{
  color: #FFFFFF;
  align-items: center;
  gap: 10px;
  margin-bottom: 60px;
}

.secTitle h2{
  font-size: 40px;
  margin-bottom: 10px;
}

.secTitle p{
  font-size: 14px;
}

.testimonialContainer {
  display: flex;
  justify-content: space-around;
}

.testimonialCard {
  background-color: #FFFFFF;
  padding: 30px 40px;
  width: 450px;
  color: #737373;
  gap: 15px;
}

.userImage {
  border-radius: 50%;
  width: 50px;
  margin-bottom: 10px;
}

.projectCards {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap;
}

.projectCard {
  width: 23%;
  background-color: #111827;
  padding: 15px;
  border-radius: 10px;
  text-align: left;
  color: white;
}

.projectCard img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.footerSection {
  background-color: #0f172a;
  padding: 60px 0;
  color: #d1d5db;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
