
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Heebo:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Heebo:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Crimson Text', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  color: #000000;
}

.bgGreen{
    background-color: #74C69D;
}

.navRight a{
    color: #FFFFFF;
    font-family: Work Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 125%;
    text-align: right;
}

.banText {
  color: #FFFFFF;
  gap: 25px;
}

.banText h6{
  color: #FFFFFF;
}

h6{
  color: #74C69D;
  font-family: Work Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 5px;
  text-transform: uppercase;
}

h2{
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 1.25;
}

.banText p{
  font-family: Work Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 15px;
  line-height: 125%;
}

.btnExpo{
  padding: 7px 25px  ;
  border-radius: 5px;
}
.introPartner .partnerLogo{
  gap: 55px;
}

.metaData p{
  font-family: Work Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 125%;
  text-align: center;
}

.secFeat p{
  font-family: Work Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 15px;
  line-height: 125%;
  color: #21252980;
}

.cardShadow{
  box-shadow: 3px 4px 12px 1px #00000040;
  align-items: center;
}
.cardShadow img{
  height: 175px;
  width: 175px; 
}

.cardShadow h5{
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 125%;
}

.cardShadow h6{
  font-family: Work Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 15px;
  line-height: 125%;
  color: #212529BF;
}

.socialIcon img{
    object-fit: contain;
    gap: 70px;
}