
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Heebo:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Heebo:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Crimson Text', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  color: #000000;
}

.bgGreen{
    background-color: #74C69D;
}

.navRight a{
    color: #ffffff;
    font-family: Work Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 125%;
    text-align: right;

}
.text-muted {
    font-family: Work Sans;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.socialIcon img{
    object-fit: contain;
    gap: 70px;
}